.login-body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000000 0%, #121212 50%, #2a2a2a 100%);
    font-family: "Poppins", sans-serif;
}


/* Laptops medianos (1366px ancho) */
@media (max-width: 1440px) {
    .login-container {
        height: auto;
        max-width: 700px;
        padding: 1rem;
    }

    .co-agenda-logo {
        max-width: 350px;
    }
}

/* Portátiles pequeños (1024px ancho) */
@media (max-width: 1280px) {
    .login-container {
        max-width: 650px;
        padding: 1.5rem;
    }

    .co-agenda-logo {
        max-width: 300px;
        margin-bottom: 1rem;
    }
}




.app-body {
    background: linear-gradient(135deg, #f9fafb 0%, #f3f4f6 50%, #e5e7eb 100%);
}

.co-agenda-logo {
    width: 600px;
    /* height: auto; */
    display: block;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .co-agenda-logo {
        max-width: 250px;
    }
}


.login-form-1 {
    border-radius: 8px;
    background: #1e1e1e;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 5%;
}


.login-form-1 h3 {
    text-align: center;
    color: #fff;
}

.login-form-2 {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    background: linear-gradient(135deg, #2563eb, #7c3aed)
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    color: #fff;
    background: linear-gradient(135deg, #7c3aed, #2563eb);
}

.login-form-1 .btnSubmit:hover {
    background: linear-gradient(135deg, #2563eb, #7c3aed);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.4);
}

.login-form-2 .btnSubmit {
    background-color: #1e1e1e;
    color: #fff;
}

.login-form-2 .btnSubmit:hover {
    background-color: #111827;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}